.container {
    height: 100vh;
  }
  
  .fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    margin-right: auto;
  }
  
  .logoImg {
    height: 60px;
    width: 130px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leaving,
  .attendances {
    margin: 0 20px;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login {
    margin-left: auto;
  }
  
  .loginButton {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
